div {
    margin: 0 auto;
    height: 200px;
    width: 200px;
    background: green;
}

div::after {
    display: block;
    content: 'hello afterhello afterhello afterhello afterhello afterhello after';
    line-height: 100px;
    background: yellow;
    width: 100px;
    height: 100px;
}

div::before {
    display: block;
    content: 'hello before';
    line-height: 100px;
    background: pink;
}

img {
    clip-path: circle(30%);
}

#second {
    clip-path: ellipse(30% 20%);
}


#third {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(calc(3.1416rad*1.5)) scale(2);
    /* transform: rotate(270deg); */
    /* transform: rotate(0.75turn); */
    /* transform: rotate(300grad); */
    /* transform: rotate(calc(3.1416rad*1.5));
    transform: scale(2); */
    
    /* clip-path: polygon(50% 0%, 100% 50%, 50% 100%); */
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}


#fourth {
    clip-path: inset(20px round 20px);
}

