body {
    font-family: Lato, sans-serif;
    margin: 1px;
    
}

.overlay {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;  /*height: 100% ;  for left right*/
    left: 0;
    overflow-x: hidden;     /* if you want to slide the menu left-right Use this value  (overflow-x: hidden)instead of the current one , among with the second script */
    position: fixed; 
    top: 0;
    width: 0;  /*width= 0 ;   for left right*/
    z-index: 1;
    transition: 0.5s;   
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.4s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

span {
    cursor: pointer;
}

@media screen and (max-height:450px) {
    .overlay a {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}