/* table {
    width: 100px;
    overflow: hidden;
} */

table,
th,
td,
div {
    border: 1px solid black;
    border-collapse: collapse;
    table-layout: fixed;
}

.table {
    display: table;
}

div {
    display: table-row;
}

div div {
    display: table-cell;
}

tr:nth-child(3n) {
    background: lightblue;
}
td {
    width: 20px;
    height: 20px;
}